USE [controlprestamosequiposDB]
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 19/3/2026 23:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[IdPrestamo] [int] IDENTITY(1,1) NOT NULL,
	[NombreCliente] [nvarchar](100) NOT NULL,
	[Articulo] [nvarchar](100) NOT NULL,
	[FechaPrestamo] [date] NOT NULL,
	[FechaDevolucionEsperada] [date] NOT NULL,
	[Estado] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Prestamos] ON 

INSERT [dbo].[Prestamos] ([IdPrestamo], [NombreCliente], [Articulo], [FechaPrestamo], [FechaDevolucionEsperada], [Estado]) VALUES (1, N'Carlos Martinez', N'Laptop Dell', CAST(N'2026-03-01' AS Date), CAST(N'2026-03-10' AS Date), N'Prestado')
INSERT [dbo].[Prestamos] ([IdPrestamo], [NombreCliente], [Articulo], [FechaPrestamo], [FechaDevolucionEsperada], [Estado]) VALUES (2, N'Andrea Lopez', N'Proyector Epson', CAST(N'2026-03-02' AS Date), CAST(N'2026-03-05' AS Date), N'Atrasado')
INSERT [dbo].[Prestamos] ([IdPrestamo], [NombreCliente], [Articulo], [FechaPrestamo], [FechaDevolucionEsperada], [Estado]) VALUES (3, N'Luis Gomez', N'Tablet Samsung', CAST(N'2026-03-03' AS Date), CAST(N'2026-03-12' AS Date), N'Prestado')
SET IDENTITY_INSERT [dbo].[Prestamos] OFF
GO
ALTER TABLE [dbo].[Prestamos] ADD  CONSTRAINT [DF_Estado]  DEFAULT ('Prestado') FOR [Estado]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [CK_Estado] CHECK  (([Estado]='Devuelto' OR [Estado]='Atrasado' OR [Estado]='Prestado'))
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [CK_Estado]
GO
