USE [historialalertasdevolucionesatrasadasDB]
GO
/****** Object:  Table [dbo].[AlertasDevolucion]    Script Date: 20/3/2026 03:13:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertasDevolucion](
	[IdAlerta] [int] IDENTITY(1,1) NOT NULL,
	[IdPrestamo] [int] NOT NULL,
	[NombreCliente] [nvarchar](100) NOT NULL,
	[Articulo] [nvarchar](100) NOT NULL,
	[FechaAlerta] [date] NOT NULL,
	[Descripcion] [nvarchar](200) NOT NULL,
	[Alerta] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAlerta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialPrestamos]    Script Date: 20/3/2026 03:13:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialPrestamos](
	[IdHistorial] [int] IDENTITY(1,1) NOT NULL,
	[IdPrestamo] [int] NOT NULL,
	[NombreCliente] [nvarchar](100) NOT NULL,
	[Articulo] [nvarchar](100) NOT NULL,
	[FechaPrestamo] [date] NOT NULL,
	[FechaDevolucionEsperada] [date] NOT NULL,
	[FechaDevolucion] [date] NULL,
	[EstadoFinal] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HistorialPrestamos] ON 

INSERT [dbo].[HistorialPrestamos] ([IdHistorial], [IdPrestamo], [NombreCliente], [Articulo], [FechaPrestamo], [FechaDevolucionEsperada], [FechaDevolucion], [EstadoFinal]) VALUES (1, 1, N'Carlos Martinez', N'Laptop Dell', CAST(N'2026-03-01' AS Date), CAST(N'2026-03-10' AS Date), CAST(N'2026-03-20' AS Date), N'Devuelto')
INSERT [dbo].[HistorialPrestamos] ([IdHistorial], [IdPrestamo], [NombreCliente], [Articulo], [FechaPrestamo], [FechaDevolucionEsperada], [FechaDevolucion], [EstadoFinal]) VALUES (2, 3, N'Luis Gomez', N'Tablet Samsung', CAST(N'2026-03-03' AS Date), CAST(N'2026-03-12' AS Date), CAST(N'2026-03-20' AS Date), N'Devuelto')
INSERT [dbo].[HistorialPrestamos] ([IdHistorial], [IdPrestamo], [NombreCliente], [Articulo], [FechaPrestamo], [FechaDevolucionEsperada], [FechaDevolucion], [EstadoFinal]) VALUES (3, 5, N'Miguel Torres', N'Mouse Logitech', CAST(N'2026-03-05' AS Date), CAST(N'2026-03-15' AS Date), CAST(N'2026-03-20' AS Date), N'Devuelto')
SET IDENTITY_INSERT [dbo].[HistorialPrestamos] OFF
GO
